extends ../layout.pug
 
block content   
    h2 Inscription
 
    form(method="post")
        input.form-control(type="text" id="firstname" name="firstname" placeholder="Votre prénom" required="true" value=firstname)
        input.form-control(type="text" id="lastname" name="lastname" placeholder="Votre nom" required="true" value=lastname)
        input.form-control(type="email" id="email" name="email" placeholder="Votre adresse email" required="true" value=email)
        input.form-control(type="password" id="password" name="password" placeholder="Choisissez un mot de passe" required="true")
        p
            input.form-control(type="checkbox" id="enableDoubleauth" name="enableDoubleauth" value=enableDoubleauth)
            label(for='enableDoubleauth') Activer la double authentification
        button.btn.btn-primary(type="submit") S'inscrire